/*
    ****************** Variables ******************
*/

$sans: 'Source Sans Pro', sans-serif;
$gara: 'Cormorant Garamond', serif;


$black: #000;
$white: #fff;
$offwhite: #efefef;
$offerwhite: #cdcdcd;
$gray: #6a6d7c;
$lightergray: #e8e8e8;
$lightgray: #d6d7d2;
$zoomgray: #d3d3d3;
$zoomblue: #445792;
$dbblue: #363e51;
$fadeblue: #7186c5;
$bgblue: #454d5f;
$darkblue: #363e51;
$blue: #4990e2;
$yellow: #ffc33f;
$red: #fd5a4b;
$purple: #7a61f0;

$musea: $red;
$hotel: $purple;
$airbnb: $blue;

$loader: $darkblue;